<li class="message" data-time-left="<%= time_left %>">
    <a class="highlight-link"><%= username %></a><span>: </span>
    <span class="message-body"><%= message %></span>
    <div class="message-progress uk-inline uk-align-right"></div>
</li>