<div id="container" class="uk-grid-collapse" uk-grid uk-height-match>
    <div class="uk-width-1-4 uk-padding-small uk-section-secondary uk-height-viewport uk-overflow-auto">
        <div class="uk-width-1-1 uk-flex uk-flex-around uk-padding-small">
            <span uk-icon="icon: comments; ratio: 5" style="color: #479ef1;"></span>
        </div>
        <ul uk-accordion="collapsible: false">
            <li>
                <h3 class="uk-accordion-title"><span uk-icon="icon: user"></span> You</h3>
                <div class="uk-accordion-content">
                    <form>
                        <fieldset class="uk-fieldset">
                            <div id="username-form-wrapper" class="uk-inline uk-width-1-1">
                                <span id="user-locked-status" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: unlock"></span>
                                <input id="username-form" class="uk-input" id="name" placeholder="Username">
                            </div>
                        </fieldset>
                    </form>
                    <div class="uk-margin">
                        <button id="user-submit" class="uk-button uk-button-primary uk-width-1-1">Submit</button>
                    </div>
                </div>
            </li>
            <li>
                <h3 class="uk-accordion-title"><span uk-icon="icon: users"></span> Room</h3>
                <div class="uk-accordion-content">
                    <ul id="user-list" class="uk-list uk-list-divider uk-margin-remove-bottom uk-padding-small">
                        <% @users.each do |u| %>
                            <%= render 'user', username: u %>
                        <% end %>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="uk-width-3-4">
        <div id="message-box" class="uk-width-1-1 message-box uk-overflow-auto">
            <ul id="message-list" class="uk-list uk-list-divider uk-margin-remove-bottom uk-margin-remove-top uk-padding-small">
                <% @messages.each do |m| %>
                    <%= render 'message', username: m.user, message: m.message %>
                <% end %>
            </ul>
            <div id="messages-bottom" style="visibility: hidden;"></div>
            <a id="scroll-down" class="uk-position-absolute uk-transform-center" style="right: 10px; bottom: 60px;" uk-icon="icon: chevron-down; ratio: 2"></a>
        </div>
        <div id="message-form" class="uk-width-1-1 uk-section-muted" style="height: 70px;">
            <form class="uk-padding-small uk-width-4-5 uk-inline">
                <fieldset class="uk-fieldset">
                    <input id="message-input" class="uk-input" placeholder="Message">
                </fieldset>
            </form>
            <button id="message-submit" class="uk-button uk-button-primary uk-width-1-6">Send</button>
        </div>
    </div>
</div>
