// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {

  $custom-font: 'Work Sans', sans-serif;

  div {
    font-family: $custom-font;
  }

  #container {

    font-family: $custom-font;

    h2, h3 {
      font-family: $custom-font;
    }

    * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    & > div {
      max-height: 100vh;
    }

    .message-box {
      height: calc(100% - 70px);

      .highlighted {
        color: #ff9d0e;
      }

      .message-body {
        -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
      }

      .uk-overlay-primary {
        display: none;
      }
    }

    .username-saved {

      $color: #ffb03d;

      border: 1px solid $color;

      & > input {
        color: $color;
      }

      & > span {
        color: $color;
      }
    }
  }
}
